<h1>Cameras</h1>

<div id="cameras-root"></div>

<%= javascript_pack_tag 'index' %>

<script>
  const camerasData = <%= @cameras.to_json.html_safe %>;
  const myCamerasData = <%= user_signed_in? ? @my_cameras.to_json.html_safe : 'null' %>;
</script>
