<h1>Cameras Home</h1>
<p>
  <% if user_signed_in? %>
    <div id="react-container" data-data="<%= { message: @message, user: current_user}.to_json %>"></div>
  <% else %>
    not signed in
  <% end %>
</p>

<%= javascript_pack_tag 'application' %>
