<h1>Cameras Home</h1>
<p><%=@message%></p>
<p><%=if user_signed_in?
    current_user # Returns the currently signed-in user object
  else
    "not signed in"
  end  %>
</p>
<div id="react-container"></div>
<%= javascript_pack_tag 'application' %>
